<p id="notice"><%= notice %></p>

<p>
  <strong>Checked:</strong>
  <%= @bikestore.checked %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @bikestore.accuracy %>
</p>

<p>
  <strong>State:</strong>
  <%= @bikestore.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bikestore.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bikestore.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bikestore.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bikestore.longitude %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bikestore.phone %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bikestore.zipcode %>
</p>

<%= link_to 'Edit', edit_bikestore_path(@bikestore) %> |
<%= link_to 'Back', bikestores_path %>
